*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
}


main img{
  max-width: 100%;
  max-height: 250px;
}

.search-area{
  margin: 1em;
}

.books{
  border-top: 1px solid black;
  padding: 1em;
}

.user-search{
  width: 300px;
  height: 40px;
  border-radius: 10px;
}

.search-button{
  width: 50px;
  height: 40px;
  background-color: aquamarine;
  border: none;
  border-radius: 10px;
}

.search-button:hover{
  background-color: skyblue;
}

.pagination{
  justify-content: center;
}

.more-search button{
  margin: 1em;
  border: none;
  background-color: white;
}

.more-search button:hover{
  text-decoration: underline;
}

.ebook-button{
  border: none;
  background-color: white;
  color: blue;
}

.ebook-button:hover{
  text-decoration: underline;
}